.paginator {
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.paginator button{
    position: absolute;
    margin-top: 3px;
}

.pageNumbers{
    width: 650px;
    display: inline-block;
    white-space: nowrap;
}

.selectedPage {
    font-size: 14pt;
    color: #f3cb00;
    font-weight: bold;
}