.descriptionBlock {
    padding: 50px;
    display:inline-block;
    text-align: center;
    float: right;
    width: 580px;
}

.posts {
    display: inline-block;
}

.posts h2 {
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 16pt;
    font-weight: normal;
}

.add_post {
    align-items: center;
    justify-content: left;
    float: right;
    background-color: white;
    border-radius: 5px;
}

.miniAvatar {
    display: inline-block;
    float: left;
}

.inputPost {
    display: inline-block;
    padding: 10px 10px 0 10px;
}

.miniAvatar img{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 15px ;
}

.buttonContainer {
}

.descriptionBlock button{
    background: #2E2E2E;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color: #ffffff;
    font-size:15px;
    text-decoration:none;
    outline:none;
    padding:8px 45px;
    margin: 10px 15px;
    float: right;
}

.descriptionBlock button:hover {
    background: #4a4a4a;
}

.descriptionBlock textarea{
    border: none;
    height: 95px;
    width: 465px;
    border-radius: 5px;
    resize: none;
    outline:none;
    text-align: justify;
    padding-right: 15px;
}

.add_post hr {
    border: 0;
    height: 0;
    width: 90%;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}