.descriptionBlock {
    padding: 10px;
    display:inline-block;
    text-align: center;
}

.add_post {
    display: flex;
    align-items: center;
    justify-content: left;
}

.descriptionBlock button{
    margin-left: 30px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    outline:none;
}

.descriptionBlock button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}

.descriptionBlock textarea{
    margin-left: 70px;
    height: 50px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 5px;
}