.item {
    margin: 0 20px 20px 15px;
    display: inline-block;
    width: 95%;
    background-color: #e7e7e7;
}

.container {
    padding-top: 20px;
}

.usersAvatar img {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: 15px 0 15px 15px;
    float: left;
}

.users span {
    padding: 30px 20px 0 20px;
    overflow: auto;
    display: inline-block;
}

.info {
    display: inline-block;
}

.location {
    display: inline-block;
    float: right;
    text-align: end;
    margin-right: 100px;
}

.sub button {
    margin-left: 20px;
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 10pt;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: none;
}

.sub button:disabled, button[disabled] {
    box-shadow: none;
    border: 1px solid #c1c1c1;
    background: linear-gradient(to bottom, #dbdbdb 5%, #c2c2c2 100%);
}

.status {
    font-size: 8pt;
    padding: 5px 0;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}