.app_nav {
    grid-area: nav;
    background-color: #2e2e2e;
    padding: 40px 0 40px 25px;
    font-size: 13pt;
}

.item {
    padding-bottom: 10px;
    color: white;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    color: #42b0ff;
}

.friends {
    font-size: 17pt;
    padding-top: 30px;
}

.online {
    font-size: 10pt;
    color: #42b0ff;
}