.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img{
    float: left;
    padding: 10px 10px;
    width: 230px;
    height: 230px;
}

.descriptionBlock h2{
    margin: 0;
    padding-left: 270px;
    font-size: 20pt;
    font-weight: normal;
}

.descriptionBlock p{
    margin: 0;
    padding-left: 270px;
    font-size: 13pt;
    font-weight: normal;
    max-width: 320px;
    text-align: justify;
}

.status {
    padding-left: 270px;
    font-size: 13pt;
    font-weight: normal;
}