.descriptionBlock {

}

.topInfo {
    padding: 10px 0;
}

.allInfo {
    float: left;
    padding-left: 50px;
}

.avatar {
    float: left;
    padding: 20px 20px;
    width: 230px;
    height: 230px;
}

.avatar img{
    width: 230px;
    height: 230px;
}

.topInfo h2 {
    margin: 0;
    font-size: 20pt;
    font-weight: normal;
}

.descriptionBlock p {
    margin: 0;
    font-size: 13pt;
    font-weight: normal;
    max-width: 320px;
    text-align: justify;
}

.status {
    font-size: 13pt;
    font-weight: normal;
}

.field label {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}