.descriptionBlock {

}

.topInfo {
    padding-top: 10px;
}

.allInfoContainer {
    width: 490px;
    float: right;
    margin: 20px 50px auto auto;
    padding: 0 40px 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 11px 10px 0 rgba(0,0,0,0.13);
}

.avatarContainer {
    background-color: white;
    float: left;
    margin: 20px 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 11px 10px 0 rgba(0,0,0,0.13);
}

.avatar{
    width: 230px;
    height: 230px;
    position: relative;
    overflow: hidden;
}


.avatarContainer img{
    position: absolute;
    width: 233px;
    height: 233px;
    top: -3px;
    left: -3px;
}

.customFileInput {
    color: transparent;
    outline:none;
}
.avatarContainer .customFileInput::-webkit-file-upload-button {
    visibility: hidden;
}

#customFileInput {
    height: 0;
    overflow: hidden;
    width: 0;
}

#customFileInput + label {
    background: #2E2E2E;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 8px 50px;
    margin: 15px 15px 0 15px;

}

.customFileInput:hover::before {
    background: #4a4a4a;
}
.customFileInput:active::before {
    background: #2E2E2E;
}

.topInfo h2 {
    margin: 0;
    font-size: 20pt;
    font-weight: normal;
}

.descriptionBlock p {
    margin: 7px 0;
    font-size: 13pt;
    font-weight: normal;
    max-width: 320px;
    text-align: justify;
}

.status {
    font-size: 13pt;
    font-weight: normal;
}

.field label {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.aboutMe h3 {
    position: relative;
    overflow: hidden;
    font-size: 13pt;
    font-weight: 600;
    margin: 10px 0;
}

.aboutMe h3:after {
    display: inline-block;
    content: "";
    height: 1px;
    background: #dfdbdb;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 2px;
    margin-left: 10px;
}

.editButton button{
    background: transparent;
    border:none;
    display:inline-block;
    cursor:pointer;
    color: #a7a7a7;
    font-size:15px;
    text-decoration:none;
    outline:none;
    margin: 10px 0;
    float: right;
}

.infoForm {
    border: none;
}

.field input {
    border: 1px hidden #ececec;
    border-bottom-style: groove;
    background-color: #ffffff;
    outline: none;
}

.contacts a{
    text-decoration: none;
    color: #42b0ff;
}