form {
    border: 3px solid #f1f1f1;
}


.container button {
    background-color: #e8c300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.container button:hover {
    opacity: 0.8;
}

.container {
    padding: 110px 150px 0px 150px;
}

.field {
    padding-bottom: 5px;
}

.psw {
    float: right;
    text-decoration: none;
}

psw a {
    text-decoration: none;
}

.container input[type=text], .container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
}

.formSummeryTooltipPosition {
    width: auto;
    padding: 5px 15px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    white-space: nowrap;
    bottom: 73%;
    left: 48%;
}

.formSummeryTooltipPosition::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f44336 transparent transparent transparent;
}
